<footer class="navbar fixed-bottom navbar-light bg-white border-top-nano">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <p>"nanoTube" Copyright © 2020 <a href="https://twitter.com/goobemaster">Gabor Major</a></p>
            </div>
            <div class="col-md-4">
                <p>Part of the <a href="https://github.com/goobemaster/php-showcase">PHP-Showcase</a> repository.</p>
            </div>
            <div class="col-md-4">
                <p><small>This program is free software: you can redistribute it and/or modify
                    it under the terms of the GNU General Public License as published by
                    the Free Software Foundation, either version 3 of the License, or
                    (at your option) any later version.</small></p>
            </div>
        </div>
    </div>
</footer>