/** Common */

body {
    background: #999;
    background-image: radial-gradient(ellipse at top, #ffffff, transparent),
    radial-gradient(ellipse at bottom, #00ccff, transparent);
    background-attachment: fixed;
}

.border-top-nano {
    border-top: 3px solid #484537;
}

.border-bottom-nano {
    border-bottom: 3px solid #484537;
}

/** Basic Layout */

header .navbar-brand img {
    max-height: 55px;
}

/** Global APP Modals */

#modal_alert .modal-body .col-2 i {
    font-size: xx-large;
}

/** Login Widget */

#login_modal .modal-header img {
    max-height: 30px;
}

#auth_captcha_user,
#login_modal #auth_captcha {
    width: 240px;
}

#login_modal #auth_captcha {
    height: 50px;
}